doctype html
html
  head
    title Refly.xyz
    |     
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(name='description', content='Refly is an API Documentation Browser where programmers can find all the information of the most popular languages in the fastest and fluid way')
    |     
    meta(name='keywords', content='Reference, Library, Docset')
    |     
    meta(name='author', content='Xuaps')
    |     
    link(href=assetFingerprint('/css/bootstrap.min.css'), rel='stylesheet', type='text/css')
    | 
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel='stylesheet', type='text/css')
    | 
    link(href="//cdn.jsdelivr.net/highlight.js/8.5/styles/mono-blue.min.css", rel='stylesheet', type='text/css')
    | 
    link(href=assetFingerprint('/css/refly.css'), rel='stylesheet', type='text/css')
  body
    #react-anchor
    |     
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    |    
    script(type='text/javascript', src=assetFingerprint('/js/card.js'))
    |    
    script(type='text/javascript', src=assetFingerprint('/js/jquery.cookiesdirective.js'))
    |    
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    |    
    script(type='text/javascript', src=assetFingerprint('/js/airbrake-shim.js'), data-airbrake-project-id='refly', data-airbrake-project-key="0eb2891adfa08afa30a7526ca1173596" data-airbrake-environment-name="#{environment}")
    |     
    script(type="text/javascript", src=assetFingerprint("https://js.stripe.com/v2/") )

    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KM2N4P');

    script(type="text/javascript", src=assetFingerprint("/js/bundle.js") )

    script.
      Stripe.setPublishableKey('#{stripe_pk}');

    script.
      $(document).ready(function() {
      $.cookiesDirective({
      privacyPolicyUri: '/cookies',
      position: 'bottom',
      explicitConsent:false,
      });});
