doctype html
html
  head
    title Refly.co
    |     
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(name='description', content='Refly is the reference library where programmers can find all the information of the most popular languages in the fastest and fluid way')
    |     
    meta(name='keywords', content='Reference, Library, Docset')
    |     
    meta(name='author', content='Xuaps')
    |     
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    |     
    link(href='/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    | 
    link(href=assetFingerprint('/css/tomorrow-night-blue.css'), rel='stylesheet', type='text/css')
    | 
    link(href=assetFingerprint('/css/styles.css'), rel='stylesheet', type='text/css')
    | 
    link(href=assetFingerprint('/css/treeview.css'), rel='stylesheet', type='text/css')
  body
    #react-anchor
    |     
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    |    
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    |    
    script(type='text/javascript', src=assetFingerprint('/js/airbrake-shim.js'), data-airbrake-project-id='refly', data-airbrake-project-key="0eb2891adfa08afa30a7526ca1173596" data-airbrake-environment-name="#{environment}")
    |     
    script(type="text/javascript", src=assetFingerprint("/js/bundle.js") )

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-51748976-3', 'auto');
      ga('send', 'pageview');
