doctype html
html
  head
    title Refly.co
    |     
    meta(charset='UTF-8')
    |     
    meta(name='description', content='Refly is the reference library where programmers can find all the information of the most popular languages in the fastest and fluid way')
    |     
    meta(name='keywords', content='Reference, Library, Docset')
    |     
    meta(name='author', content='Xuaps')
    |     
    link(href='/css/styles.css', ,='', media='screen', rel='stylesheet', type='text/css')
    |     
    link(href='/css/solarized_dark.css', ,='', media='screen', rel='stylesheet', type='text/css')
    |     
    link(href=assetFingerprint('/css/font-awesome.min.css'), ,='', media='screen', rel='stylesheet', type='text/css')
    |     
    link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
    |     
    link(href='/css/prism.css', rel='stylesheet', type='text/css')
    |     
    link(href='http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css', ,='', media='screen', rel='stylesheet', type='text/css')
    script(type='text/javascript', src=assetFingerprint('/js/config.js'))
    script(type='text/javascript').
      var _rollbarConfig = config.rollbarConfig;
      !function(a,b){function c(b){this.shimId=++h,this.notifier=null,this.parentShim=b,this.logger=function(){},a.console&&void 0===a.console.shimId&&(this.logger=a.console.log)}function d(b,c,d){a._rollbarWrappedError&&(d[4]||(d[4]=a._rollbarWrappedError),d[5]||(d[5]=a._rollbarWrappedError._rollbarContext),a._rollbarWrappedError=null),b.uncaughtError.apply(b,d),c&&c.apply(a,d)}function e(b){var d=c;return g(function(){if(this.notifier)return this.notifier[b].apply(this.notifier,arguments);var c=this,e="scope"===b;e&&(c=new d(this));var f=Array.prototype.slice.call(arguments,0),g={shim:c,method:b,args:f,ts:new Date};return a._rollbarShimQueue.push(g),e?c:void 0})}function f(a,b){if(b.hasOwnProperty&&b.hasOwnProperty("addEventListener")){var c=b.addEventListener;b.addEventListener=function(b,d,e){c.call(this,b,a.wrap(d),e)};var d=b.removeEventListener;b.removeEventListener=function(a,b,c){d.call(this,a,b&&b._wrapped?b._wrapped:b,c)}}}function g(a,b){return b=b||this.logger,function(){try{return a.apply(this,arguments)}catch(c){b("Rollbar internal error:",c)}}}var h=0;c.init=function(a,b){var e=b.globalAlias||"Rollbar";if("object"==typeof a[e])return a[e];a._rollbarShimQueue=[],a._rollbarWrappedError=null,b=b||{};var h=new c;return g(function(){if(h.configure(b),b.captureUncaught){var c=a.onerror;a.onerror=function(){var a=Array.prototype.slice.call(arguments,0);d(h,c,a)};var g,i,j="EventTarget,Window,Node,ApplicationCache,AudioTrackList,ChannelMergerNode,CryptoOperation,EventSource,FileReader,HTMLUnknownElement,IDBDatabase,IDBRequest,IDBTransaction,KeyOperation,MediaController,MessagePort,ModalWindow,Notification,SVGElementInstance,Screen,TextTrack,TextTrackCue,TextTrackList,WebSocket,WebSocketWorker,Worker,XMLHttpRequest,XMLHttpRequestEventTarget,XMLHttpRequestUpload".split(",");for(g=0;g<j.length;++g)i=j[g],a[i]&&a[i].prototype&&f(h,a[i].prototype)}return a[e]=h,h},h.logger)()},c.prototype.loadFull=function(a,b,c,d,e){var f=g(function(){var a=b.createElement("script"),e=b.getElementsByTagName("script")[0];a.src=d.rollbarJsUrl,a.async=!c,a.onload=h,e.parentNode.insertBefore(a,e)},this.logger),h=g(function(){var b;if(void 0===a._rollbarPayloadQueue){var c,d,f,g;for(b=new Error("rollbar.js did not load");c=a._rollbarShimQueue.shift();)for(f=c.args,g=0;g<f.length;++g)if(d=f[g],"function"==typeof d){d(b);break}}"function"==typeof e&&e(b)},this.logger);g(function(){c?f():a.addEventListener?a.addEventListener("load",f,!1):a.attachEvent("onload",f)},this.logger)()},c.prototype.wrap=function(b,c){try{var d;if(d="function"==typeof c?c:function(){return c||{}},"function"!=typeof b)return b;if(b._isWrap)return b;if(!b._wrapped){b._wrapped=function(){try{return b.apply(this,arguments)}catch(c){throw c._rollbarContext=d(),c._rollbarContext._wrappedSource=b.toString(),a._rollbarWrappedError=c,c}},b._wrapped._isWrap=!0;for(var e in b)b.hasOwnProperty(e)&&(b._wrapped[e]=b[e])}return b._wrapped}catch(f){return b}};for(var i="log,debug,info,warn,warning,error,critical,global,configure,scope,uncaughtError".split(","),j=0;j<i.length;++j)c.prototype[i[j]]=e(i[j]);var k="//d37gvrvc0wt4s1.cloudfront.net/js/v1.1/rollbar.min.js";_rollbarConfig.rollbarJsUrl=_rollbarConfig.rollbarJsUrl||k;var l=c.init(a,_rollbarConfig);l.loadFull(a,b,!1,_rollbarConfig)}(window,document);
      Rollbar.configure({enabled: config.rollbarConfig.enabled});
  body
    #container
    |     
    #cookie1.cookiesms
      button.ry-btn(onclick='controlcookies()') Aceptar
      |             
      p
        | This website uses cookies, if you want to use the sites without cookies or would like to know more, you can do that 
        a(href='cookies-policy.html') here
        |             . By continuing to browse the site, you are agreeing to our use of cookies.
    |     
    script(type="text/javascript", src=assetFingerprint("/js/bundle.js") )
    |     
    script(type="text/javascript", src="/js/mousetrap.min.js" )
    |     
    script(type="text/javascript", src="/js/prism.js" )
    |     
    script(type="text/javascript", src="/js/highlight.pack.js" )
    |     
    script(type='text/javascript', src='/js/shortcuts.js')
    |     
    script(type='text/javascript', src='/js/cookies.js')
    script.
      hljs.initHighlightingOnLoad();

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-51748976-3', 'auto');
      ga('send', 'pageview');

    script(type='text/javascript').

      var _ues = {
      host:'refly.userecho.com',
      forum:'39663',
      lang:'en',
      tab_corner_radius:5,
      tab_font_size:20,
      tab_image_hash:'ZmVlZGJhY2s%3D',
      tab_chat_hash:'Y2hhdA%3D%3D',
      tab_alignment:'top',
      tab_text_color:'#ffffff',
      tab_text_shadow_color:'#00000055',
      tab_bg_color:'#333333',
      tab_hover_color:'#3399FF'
      };

      (function() {
      var _ue = document.createElement('script'); _ue.type = 'text/javascript'; _ue.async = true;
      _ue.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.userecho.com/js/widget-1.4.gz.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(_ue, s);
      })();

